.header-container {
  display: flex;
  justify-content: center;
  gap: 160px;
  margin-bottom: 40px;
  position: sticky;
  top: 5px;
  z-index: 2;

  > div:first-child {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div:last-child {
      display: flex;
      align-items: center;
      gap: 10px;
      > input {
        height: 20px;
        border: none;
        background-color: rgb(243, 236, 236);
        border-radius: 3px;
      }
    }
    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    > span {
      font-size: 20px;
      cursor: pointer;
    }
    .cart {
      position: absolute;
      top: 80px;
      right: 100px;
    }

    > span:first-child {
      font-weight: bold;
      font-size: 26px;
    }
    > .dropdown-container {
      > span {
        position: relative;
        font-size: 20px;

        cursor: pointer;
        > .dropdown {
          z-index: 3;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 30px;
          gap: 5px;
          z-index: 1;
          > span {
            color: black;
          }
        }
      }
    }
  }
  > div:last-child {
    display: flex;
    gap: 20px;

    img {
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
  }
}
.menu-icon {
  padding: 20px;
  display: none;
  align-items: center;
  position: absolute;
  position: sticky;
  top: 20px;
  z-index: 10;

  gap: 10px;
  span {
    font-size: 20px;
  }
  img {
    width: 30px;
    height: 30px;
  }
}
.sidebar {
  display: none;
}
nav,
.sidebar {
  background-color: white;
  border-radius: 0px 6px 6px 0px;
  position: absolute;
  position: sticky;
  top:0;
  left: 0;
  bottom: 0;
  width: 330px;
  box-shadow: 8px 8px 18px #00000030;
  z-index: 5;
  height: 500px;
  .sidebar-content {
    width: 100%;
    div {
      img {
        width: 30px;
        height: 30px;
      }
    }

    .toggle-btn {
      width: 100%;
      height: 1.5rem;
      padding-right: 0.4rem;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      span {
        font-size: 0.99rem;
        &.close {
          opacity: 0;
        }
        &:hover {
          color: blue;
        }
      }
    }
  }
  &:hover {
    .sidebar-content {
      .toggle-btn {
        span {
          opacity: 1;
        }
      }
    }
  }
}
.sections {
  margin-left: 2rem;
  margin-top: 2rem;

  > .categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      font-size: 20px;
    }
  }
  > .cnt {
    display: flex;
    gap: 10px;
  }
}


@media only screen and (max-width: 1000px) {
  .header-container {
    display: none;
  }
  .sidebar {
    display: block;
    position: absolute;
  }
  .menu-icon {
    display: flex;
  }
}
