<div class="header-container">
  <div>
    <span>SABAMUSIC.</span>
    <div class="dropdown-container">
      <span (click)="changeDropDown()"
        >Products
        <div *ngIf="dropDown" class="dropdown">
          <span (click)="navigateToCategotyPage('guitar')">Guitar</span>
          <span (click)="navigateToCategotyPage('drums')">Drums</span>
          <span (click)="navigateToCategotyPage('bass')">Bass </span>
          <span (click)="navigateToCategotyPage('piano')">Piano</span>
          <span (click)="navigateToCategotyPage('other')">Other</span>
        </div>
      </span>
      <img (click)="changeDropDown()" src="assets/down-arrow.png" alt="img" />
    </div>
    <span>Contact</span>
    <span>About Us</span>
    <div>
      <img src="assets/loupe.png" alt="img" />
      <input type="text" placeholder="Search" />
    </div>
  </div>
  <div>
    <img src="assets/heart.png" alt="img" />
    <img src="assets/shopping-cart.png" alt="img" />
    <img (click)="navigateToProfile()" src="assets/profile.png" alt="img" />
  </div>
</div>
