<div *ngIf="showsSidebar2" class="menu-icon" (click)="changeShowsSidebar()">
  <img src="assets/menu-bar.png" alt="img" />
</div>
<nav *ngIf="showsSidebar" class="sidebar">
  <div class="sidebar-content">
    <div class="menu-icon" (click)="changeShowsSidebar()">
      <img src="assets/menu-bar.png" alt="img" />
      <span routerLink="/products">SABAMUSIC.</span>
    </div>
    <div class="sections">
      <div class="categories">
        <span (click)="navigateToCategotyPage('guitar')">Guitars</span>
        <span (click)="navigateToCategotyPage('drum')">Drums</span>
        <span (click)="navigateToCategotyPage('bass')">Basses </span>
        <span (click)="navigateToCategotyPage('piano')">Pianos</span>
        <span (click)="navigate('contact')">Contact</span>
        <span (click)="navigate('about-us')">About Us</span>
        <app-cart
        class="cart"
        [userEmail]="user?.user?.email!"
        [showCart]="cart"
      ></app-cart>
      </div>
      <div class="cnt">
        <img *ngIf="user" (click)="logOut()" src="assets/logout.png" alt="img" />
        <img (click)="openCloseCart()" src="assets/shopping-cart.png" alt="img" />
        <img
          *ngIf="user"
          (click)="navigateToProfile()"
          src="assets/profile.png"
          alt="img"
        />
      </div>
    </div>
  </div>
</nav>
<div class="header-container">
  <div>
    <span routerLink="/products">SABAMUSIC.</span>
    <div class="dropdown-container">
      <span (click)="changeDropDown()"
        >Products
        <div *ngIf="dropDown" class="dropdown">
          <span (click)="navigateToCategotyPage('guitar')">Guitar</span>
          <span (click)="navigateToCategotyPage('drum')">Drums</span>
          <span (click)="navigateToCategotyPage('bass')">Bass </span>
          <span (click)="navigateToCategotyPage('piano')">Piano</span>
          <span (click)="navigateToCategotyPage('other')">Other</span>
        </div>
      </span>
      <img (click)="changeDropDown()" src="assets/down-arrow.png" alt="img" />
    </div>
    <span (click)="navigate('contact')">Contact</span>
    <span (click)="navigate('about-us')">About Us</span>
    <span *ngIf="!user" (click)="navigate('login')">Log In</span>
    <app-cart
      class="cart"
      [userEmail]="user?.user?.email!"
      [showCart]="cart"
    ></app-cart>
  </div>
  <div>
    <img *ngIf="user" (click)="logOut()" src="assets/logout.png" alt="img" />
    <img (click)="openCloseCart()" src="assets/shopping-cart.png" alt="img" />
    <img
      *ngIf="user"
      (click)="navigateToProfile()"
      src="assets/profile.png"
      alt="img"
    />
  </div>
</div>
