<div class="container">
  <div></div>
  <div class="flex-container">
    <div>
      <h3>SABAMUSIC.</h3>
      <p>Music Shop over 1000 brand. we sell quality product on our website</p>
      <p><img src="assets/placeholder.png" alt="img" />Mindeli's street 7B</p>
      <p><img src="assets/phone.png" alt="img" />+995 555 542 034</p>
    </div>
    <div>
      <h3>Menu</h3>
      <p routerLink="/login">Login</p>
      <p routerLink="/products">Products</p>
      <p>About Us</p>
      <p>Terms & Policy</p>
      <p (click)="navigate('profile')">My Account</p>
    </div>
    <div>
      <h3>Stay Updated</h3>
      <div>
        <input  [(ngModel)]="email" placeholder="Enter your Email" />
        <img (click)="sendEmail()" src="assets/send.png" alt="img" />
      </div>
    </div>
  </div>
</div>
