<div class="container">
  <div></div>
  <div class="flex-container">
    <div>
      <h3>SABAMUSIC.</h3>
      <p>Music Shop over 1000 brand. we sell quality product on our website</p>
      <p><img src="assets/placeholder.png" alt="img" />Mindeli's street 7B</p>
      <p><img src="assets/phone.png" alt="img" />+995 555 542 034</p>
    </div>
    <div>
      <h3>Menu</h3>
      <p>Products</p>
      <p>About Us</p>
      <p>Terms & Policy</p>
    </div>
    <div>
      <h3>Account</h3>
      <p>My Account</p>
      <p>My Cart</p>
      <p>Checkout</p>
    </div>
    <div>
      <h3>Stay Connected</h3>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
    </div>
    <div>
      <h3>Stay Updated</h3>
      <div>
        <input type="text" placeholder="Enter your Email" />
        <img src="assets/send.png" alt="img" />
      </div>
    </div>
  </div>
</div>
