<app-header></app-header>
<div class="filter">
  <input type="number" [(ngModel)]="leftSlider" placeholder="min price">
  <input type="number" [(ngModel)]="rightSlider" placeholder="max price">
  <label>
    Acoustic
    <input type="checkbox" [(ngModel)]="acoustic">
  </label>
  <div class="search">
    <input type="text" [(ngModel)]="searchWords" placeholder="model" />
    <img (click)="filter()" src="assets/loupe.png" alt="img" />
  </div>
  <br />
</div>
<div class="products" *ngIf="products">
  <app-card
    [product]="product"
    (removeEvent)="onRemove($event)"
    (editEvent)="onEdit($event)"
    *ngFor="let product of products"
    class="single-product"
  >
  </app-card>
</div>
<app-footer></app-footer>
