<app-header></app-header>
<div class="container">
  <div class="content">
    <div>
      <p>
        Gmail:
        <a href="mailto:saba.joxadze.04@gmail.com"
          >saba.joxadze.04&#64;gmail.com</a
        >
      </p>
      <p>Phone Number: 555542034</p>
      <p>
        Adress:
        <a
          target="_blank"
          href="http://maps.google.com/?q=Georgia, Tbilisi, Mindeli, 7B"
          >Mindeli`s street 7B</a
        >
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>