<div class="container">
  <div>
    <p (click)="select()" [ngClass]="selected ? 'selected' : ''">LOG IN</p>
    <p (click)="select()" [ngClass]="selected ? '' : 'selected'">SIGN UP</p>
  </div>

  <form [formGroup]="form">
    <div class="inputs">
      <input formControlName="email" placeholder="Email" />
      <span
        class="error-message"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        >email is required</span
      >
    </div>
    <div class="inputs">
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <span
        class="error-message"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        password is required
      </span>
    </div>
    <div class="inputs">
      <input
        *ngIf="!selected"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
      <span
        class="error-message"
        *ngIf="
          form.get('confirmPassword')?.invalid &&
          form.get('confirmPassword')?.touched &&
          !selected
        "
      >
        confirm password is required
      </span>
    </div>

    <button *ngIf="selected" (click)="googleLogin()">
      Sing in with Google <img src="assets/google.png" alt="img" />
    </button>
    <button (click)="emailAndPasswordLogin()" *ngIf="selected">Sign in</button>
    <button [disabled]="!form.valid" (click)="registration()" *ngIf="!selected">
      Register
    </button>
  </form>
</div>
