
  <div *ngIf="purchase" class="purchase-wrapper">
    <span>{{ purchase.date | date }}</span>
    <span>total price: {{ purchase.totalPrice }}</span>
    <div class="see-more-arrow">
      <img
        *ngIf="!changeArrow"
        (click)="showMoreItems = !showMoreItems"
        (click)="changeArrow = !changeArrow"
        src="assets/arrow-down.png"
        alt="img"
      />
      <img
        *ngIf="changeArrow"
        (click)="showMoreItems = !showMoreItems && !changeArrow"
        (click)="changeArrow = !changeArrow"
        src="assets/arrow-up.png"
        alt="img"
      />
    </div>
    <div
      class="purchase"
      *ngFor="let item of purchase.products | slice : 0 : 1"
    >
      <div>
        <img [src]="item.product.product.photoUrl[0]" alt="img" />
      </div>
      <div class="grid-container">
        <span>{{ purchase.email ? purchase.email : "unknown" }}</span>
        <span>{{ item.product.product.category }}</span>

        <span>{{ item.product.product.model }}</span>
        <span>Price: {{ item.product.product.price }}$</span>
        <span>Dicsount: {{ item.product.product.discount }}%</span>
      </div>
    </div>
    <div *ngIf="showMoreItems">
      <div
        class="other-items purchase"
        *ngFor="let item of purchase.products | slice : 1"
      >
        <div>
          <img [src]="item.product.product.photoUrl[0]" alt="img" />
        </div>
        <div class="grid-container">
          <span>{{ purchase.email ? purchase.email : "unknown" }}</span>
          <span>{{ item.product.product.category | upperCase }}</span>

          <span>{{ item.product.product.model | upperCase }}</span>
          <span>Price: {{ item.product.product.price }}</span>
          <span>Dicsount: {{ item.product.product.discount }}%</span>
        </div>
      </div>
    </div>
  </div>
