<div *ngIf="showCart" class="container">
  <div>
    <h2>Cart</h2>
  </div>
  <div class="products">
    <div *ngFor="let prod of cart$ | async" class="product">
      <div class="remove">
        <img (click)="removeFromCart(prod.product)" src="assets/remove.png" alt="img" />
      </div>
      <div>
        <img src="../../assets/eguitar.jpg" alt="img" />
      </div>
      <div class="description">
        <span>Type: {{ prod.product.product.category }}</span>
        <span>Model: {{ prod.product.product.model }}</span>
        <span>Price: {{ prod.product.product.price }}$</span>
        <button (click)="nav(prod.product.key, prod.product.product.category)">
          See Product
        </button>
        <p>quantity:{{prod.quantity}}</p>
      </div>
    </div>
  </div>
</div>
