<div *ngIf="showCart" class="container">
  <div>
    <h2>Cart</h2>
  </div>
  <div class="products">
    <div *ngFor="let prod of cart$ | async" class="product">
      <div class="remove">
        <img
          (click)="removeFromCart(prod.product)"
          src="assets/remove.png"
          alt="img"
        />
      </div>
      <div>
        <img [src]="prod.product.product.photoUrl[0]" alt="img" />
      </div>
      <div class="description">
        <span>Type: {{ prod.product.product.category }}</span>
        <span>Model: {{ prod.product.product.model|slice:0:60}}...</span>
        <span>Price: {{ prod.product.product.price }}$</span>
        <p>Discount -{{prod.product.product.discount}}%</p>
        <p>
          <img
            (click)="plus(prod.product.key, 'minus')"
            src="assets/minus.png"
            alt="img"
          />{{ prod.quantity }}
          <img
            (click)="plus(prod.product.key, 'plus')"
            src="assets/plus.png"
            alt="img"
          />
        </p>
        <button (click)="nav(prod.product.key, prod.product.product.category)">
          See Product
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="calculateTotalPrice() > 0" class="payment">
    <h2>Total Price: {{ calculateTotalPrice() }}$</h2>
    <div>
      <div>
        <app-paypal [cartArr$]="cart$" [totalPrice]="calculateTotalPrice()"></app-paypal>
      </div>
    </div>
  </div>
</div>
