
<div class="topProducts-container">
  <div *ngIf="loading" class="loading-container">
    <div class="loader"></div>
    <p>Loading...</p>
  </div>
  <div>
    <div *ngIf="!loading">
      <div *ngFor="let dot of imgUrls; let i = index"
        (click)="changeIndex(i)"
        [ngClass]="index === i ? 'highlight' : ''"
      ></div>
    </div>
    <div *ngIf="!loading" class="arrows">
      <img (click)="changeImgDown()" src="assets/left.png" alt="img" />
      <img (click)="changeImgUp()" src="assets/right.png" alt="img" />
    </div>
  </div>
  <div *ngIf="!loading" class="images">
    <img [src]="img" alt="img" />
  </div>
</div>
