h1 {
  display: flex;
  justify-content: center;
}
.loading-container{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >.loader {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
    @keyframes l2 {to{transform: rotate(1turn)}}
  }
}
.products {
  > .products-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3%;
    > p {
      font-size: 20px;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: rgb(190, 4, 4);
      text-underline-offset: 6px;
    }
    > .product {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      position: relative;

    }
  }
}

.if-discount{
  >span:first-of-type{
    text-decoration: line-through;
  }
  span{
    font-weight: bold;
  }
  >span{
    font-size: 20px;
  }
}
.display-none{
  display: none;
}

