<app-header></app-header>
<app-top-products></app-top-products>
<h1>Our Products</h1>
<div class="products">
  <div *ngFor="let product of guitarProducts" class="single-product">
    <div class="hover">
      <button>Add to cart</button>
      <div>
        <span><img src="assets/share.png" alt="img" /> Share</span>
        <span (click)="likeUnlikeProduct(product.key)"
          ><img (click)="likeUnlikeProduct(product.key)" src="assets/heart.png" alt="img" />
          Like</span
        >
      </div>
    </div>
    <div class="img-placeholder">
      <div *ngIf="product.product.discount > 0" class="discount">
        {{ product.product.discount }}
      </div>
      <img [src]="product.product.photoUrl[0]" alt="img" />
    </div>
    <div class="info">
      <span>{{ product.product.category }}</span>
      <span>{{ product.product.model }}</span>
      <span>{{ product.product.price }}$</span>
    </div>
  </div>
</div>
<app-footer></app-footer>
