<div class="products">
  <div class="single-product">
    <div class="hover">
      <button>Add to cart</button>
      <div>
        <span><img src="assets/share.png" alt="img" /> Share</span>
        <span><img src="assets/heart.png" alt="img" /> Like</span>
      </div>
    </div>
    <div class="img-placeholder">
      <div class="discount">-30%</div>
      <img src="assets/guitar.webp" alt="img" />
    </div>
    <div class="info">
      <span>Guitar</span>
      <span>Type of Guitar</span>
      <span>1000$</span>
    </div>
  </div>
  <div class="single-product">
    <div class="img-placeholder">
      <div class="discount">-30%</div>
      <img src="assets/guitar.webp" alt="img" />
    </div>
    <div class="info">
      <span>Guitar</span>
      <span>Type of Guitar</span>
      <span>1000$</span>
    </div>
  </div>
  <div class="single-product">
    <div class="img-placeholder">
      <div class="discount">-30%</div>
      <img src="assets/guitar.webp" alt="img" />
    </div>
    <div class="info">
      <span>Guitar</span>
      <span>Type of Guitar</span>
      <span>1000$</span>
    </div>
  </div>
  <div class="single-product">
    <div class="img-placeholder">
      <div class="discount">-30%</div>
      <img src="assets/guitar.webp" alt="img" />
    </div>
    <div class="info">
      <span>Guitar</span>
      <span>Type of Guitar</span>
      <span>1000$</span>
    </div>
  </div>
  <div class="single-product">
    <div class="img-placeholder">
      <div class="discount">-30%</div>
      <img src="assets/guitar.webp" alt="img" />
    </div>
    <div class="info">
      <span>Guitar</span>
      <span>Type of Guitar</span>
      <span>1000$</span>
    </div>
  </div>
</div>
