.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .wrapper {
    width: 85%;

    background-color: white;
    > .box {
      display: flex;
      flex-direction: column;
      .info {
        padding: 8%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        > p,
        span {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-size: 18px;
          > span {
            font-weight: bold;
          }
        }
        > button {
          width: 200px;
          height: 50px;
          cursor: pointer;
          --b: 2px;
          --s: 0.45em;
          --color: #373b44;

          padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
          color: var(--color);
          --_p: var(--s);
          background: conic-gradient(
              from 90deg at var(--b) var(--b),
              #0000 90deg,
              var(--color) 0
            )
            var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
            calc(100% - var(--b) - 2 * var(--_p));
          transition: 0.3s linear, color 0s, background-color 0s;
          outline: var(--b) solid #0000;
          outline-offset: 0.6em;
          font-size: 16px;

          border: 0;

          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          &:hover,
          &:focus-visible {
            --_p: 0px;
            outline-color: var(--color);
            outline-offset: 0.05em;
          }

          &:active {
            background: var(--color);
            color: #fff;
          }
        }
      }
      form {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(5, 30px);
        padding-left: 8%;
        margin-bottom: 80px;

        .photos{
          display: flex;
          gap: 12px;
          .pht{
            >div:first-child{

              position: relative;
              img{
                width: 80px;
              }
              >img:last-of-type{
                width: 8px;
                position: absolute;
                top: 3px;
                right: -6px;
                
              }
            }
          }

          }
        
      }
    }
  }
}
.liked-products {
  padding: 40px;
  
  > .products {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
   
  }
}
