<app-header></app-header>
<div class="container">
  <div class="wrapper">
    <div class="box">
      <div class="info">
        <p><span> Email:</span> {{ user?.user?.email }}</p>
        <p><span>Address:</span> {{ user?.user?.address }}Some Adrress</p>
        <button>Change Password</button>
        <button (click)="addingProd()" *ngIf="user?.user?.isAdmin">
          Add New Product
        </button>
        <button (click)="navigate('purchasedProducts')">
          See Your Purchases
        </button>
        <button (click)="navigate('allPurchase')">See All Purchases</button>
      </div>
      <form *ngIf="user?.user?.isAdmin && addingProduct" [formGroup]="form">
        <select formControlName="category">
          <option value="guitar">Guitar</option>
          <option value="drum">Drum</option>
          <option value="bass">Bass</option>
          <option value="piano">Piano</option>
          <option value="other">Other</option>
        </select>
        <input placeholder="Model" formControlName="model" />
        <input placeholder="Price" formControlName="price" />
        <input placeholder="Discount" formControlName="discount" />
        <input placeholder="Quantity" formControlName="quantity" />
        <input placeholder="Description" formControlName="description" />
        <label>
          is isAcoustic
          <input type="checkbox" formControlName="isAcoustic" />
        </label>
        <input type="file" (change)="onFileChange($event)" />
        <button [disabled]="form.invalid" (click)="addNewProduct()">
          add product
        </button>

        <div class="photos">
          <div class="pht" *ngFor="let img of photos">
            <div>
              <img [src]="img" alt="img" />
              <img (click)="removeImg(img)" src="assets/remove.png" alt="img" />
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="liked-products">
      <h2>Liked Products:</h2>
      <div class="products">
        <app-card
          [product]="product"
          *ngFor="let product of likedProducts"
          class="single-product"
        >
        </app-card>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
