.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > .content {
    display: flex;
    flex-direction: column;
    gap: 6%;
    margin-top: 4%;
    > .images {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      > .focused-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        img {
          max-width: 350px;
          max-height: 350px;
        }
      }

      > .otherPhotos {
        display: flex;
        gap: 4px;
        justify-content: center;
        > div:last-child,
        div:first-child {
          background-color: unset;
          > img {
            width: 40px;
            height: 40px;
            
          }
        }
        
        > div {
          background-color: white;
          display: flex;
          align-items: center;
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
    }
    > .description {
      display: flex;
      flex-direction: column;
      padding: 40px;
      gap: 20px;
      width: 90%;
      > div:first-child {
        display: flex;
        justify-content: space-between;
        div {
          cursor: pointer;
          img {
            width: 23px;
          }
        }
      }
      div {

        > p {
          margin-bottom: 10px;
          > span {
            font-weight: bold;
          }
          word-wrap: break-word;
          font-size: 20px;
        }
        button{
          width: 90px;
          height: 30px;
          border: none;
          text-align: center;
          color: white;
          background-color: rgb(122, 122, 240);
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
}
