
<div class="container">
  <div class="content">
    <div class="images">
      <div class="focused-img">
        <img #myImage *ngIf="images?.length" [src]="images[cuurentIndex]" alt="img" />
      </div>
      
      <div class="otherPhotos">
        <div>
          <img (click)="scroll('left')" src="assets/left.png" alt="img" />
        </div>

        <div *ngFor="let i of images | slice : 0; let j = index">
          <img (click)="switchImage(j)" [src]="images[j]" alt="img" />
        </div>
        <div>
          <img (click)="scroll('right')" src="assets/right.png" alt="img" />
        </div>
      </div>
    </div>
    <div class="description payment">
      <div>
        <p><span>Categoty:</span> {{ product?.category }}</p>
        <div>
          <img
            (click)="likeProduct('unlike')"
            *ngIf="isLiked"
            src="assets/heart-red.png"
            alt="img"
          />
          <img
            (click)="likeProduct('like')"
            *ngIf="!isLiked"
            src="assets/heart.png"
            alt="img"
          />
        </div>
        
      </div>
      <div>
        <p><span>Model:</span> {{ product?.model }}</p>
        <p><span>Description: </span> {{ product?.description }}</p>
        <p><span>Price:</span> {{ product?.price }}$</p>
        <button (click)="addInCart()">Add to Cart</button>
      </div>
    </div>
    <app-suggestions
      *ngIf="product?.category"
      [categoty]="product?.category!"
    ></app-suggestions>

  </div>
</div>
